.table-card-container {
  display: flex;
  align-items: center;
  background: #ffffff; /* Đảm bảo sử dụng màu sắc hex hoặc rgba thay vì các màu sắc phức tạp */
  border-radius: 8px;
  margin: 12px 0;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Đảm bảo sử dụng giá trị rgba cho màu sắc bóng */
}

.table-img {
  width: 86px;
  height: 86px;
  padding: 12px;
  object-fit: cover; /* Đảm bảo hình ảnh không bị kéo dãn hoặc biến dạng */
  border-radius: 8px; /* Tạo góc bo tròn cho hình ảnh, nếu cần */
}

.qr-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 50%; /* Đặt icon ở giữa theo chiều dọc */
  transform: translateY(-50%); /* Căn giữa icon theo chiều dọc */
}
