.category-card-container {
  display: flex;
  height: 100px;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  margin: 10px 0;
  position: relative;
  flex-direction: row;
  margin: 12px 0;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.category-img {
  width: 86px;
  height: 86px;
  padding: 12px;
}

.delete-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
}
